<%= form_for(current_cart.list.build, remote: true) do |f| %>
  <div><%= hidden_field_tag :product_id, @product.id %></div>
  <div><%= hidden_field_tag :variant_id, @variant.id %></div>
  <div class="quantity d-flex align-items-center">
    <div class="dec-btn">-</div>
    <%= f.text_field :quantity, value: 1, min: 1, max: 15, class: "quantity-no" %>
    <div class="inc-btn">+</div>
  </div>
  <br>
  <!-- <select id="product-size" class="bs-select">
    <option value="small">Small</option>
    <option value="meduim">Medium</option>
    <option value="large">Large</option>
    <option value="x-large">X-Large</option>
  </select> -->
  <li class="list-inline-item">
    <button type="submit" name="commit" value="Add to Cart" class="btn btn-template wide" data-disable-with="Add to Cart">
      <i class="icon-cart"></i>Add to Cart
    </button>
  </li>
<% end %>
